:root {
    --main-color: #2E2F42;
    --secondary-color: #FFFFFF;
    --hover-color: #404BBF;
    --contacts-color: #434455;
    --buttons-color: #4D5AE5;
    --footer-text-color: #E7E9FC;
    --buttons-second-color: #F4F4FD;
    --customers-link-color: #8E8F99;
    --footer-link-color: #424355;
    --footer-hover-color: #31D0AA;
    --modal-color: #FCFCFC;
    --checkbox-form-color: #757575;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

.container { 
    width: 100%; 
    padding-left: 15px; 
    padding-right: 15px; 
    margin-left: auto; 
    margin-right: auto; 
    } 


body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-color);
}

.section {
    padding: 120px 0;
}

.section:nth-child(2) {
    padding-bottom: 0;
}


/* Header */
.header {
    padding: 24px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    background-color: var(--secondary-color);
    top: 0;
    left: 0;
}

.header-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.header-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttons-color);
    margin-right: 76px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-logo-studio {
    color: var(--main-color)
}

.header-list {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:active,
.header-mail:active,
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--hover-color);
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.contact-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    text-decoration: none;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:focus,
.contact-link:hover {
    color: var(--hover-color);}

.header-link.active::after {
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -24px;
}


/* Hero */
.hero {
    background-color: var(--main-color);
    text-align: center;
    padding: 188px 0;
    flex-grow: 1;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-backround.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    display: block;
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    color: var(--secondary-color);
    background-color: var(--buttons-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: auto;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
    background-color: var(--hover-color);
}


/* Information */
.info {
    padding: 120px 0 0;
}

.info-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.info-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.info-item {
    flex-basis: calc((100% - 72px)/4);
}

.info-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-bottom: 8px;
}

.info-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
}

.info-roads-logo {
    height: 112px;
    background-color: var(--buttons-second-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}


/* What are we doing */
.about {
    padding: 120px 0;
}

.about-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    padding-bottom: 72px;
}

.about-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.about-item {
    flex-basis: ((100% - 48px)/3);
}



/* Our team */
.team {
    background-color: var(--buttons-second-color);
    padding: 96px 0;
}

.team-container{display: flex;
    flex-direction: column;
    align-items: center;}

.team-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
    color: var(--main-color)
}

.team-list {
    display: flex;
    width: 100%;
    max-width: 264px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
    flex-wrap: wrap;
}

.team-item {
    background: var(--secondary-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    width: 100%;
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
}

.team-description {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
    margin-bottom: 8px;
}

.team-person {
    padding: 32px 16px;
}

.team-social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-social-item {
    flex-basis: calc((100% - 72px)/4);
}

.team-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 50%;
    background-color: var(--buttons-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:is(:hover, :focus) {
    background-color: var(--hover-color);
}


/* Customers */
.customers {
    padding: 120px 0;
}

.customers-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-color);
    margin-bottom: 72px;
}

.customers-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.customers-item {
    flex-basis: calc((100% - 120px)/6);
}

.customers-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    color: var(--customers-link-color);
    height: 88px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
    width: 104px;
    height: 56px;
    fill: currentColor;
}

.customers-link:is(:hover, :focus) {
    border-color: var(--hover-color);
    color: var(--hover-color);
}


/* Footer */
.footer {
    background-color: var(--main-color);
    padding: 100px 0;
}

.footer-primary-container {
    display: flex;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttons-color);
}

.footer-logo-studio {
    font-size: 18px;
    line-height: 1.2;
    color: var(--buttons-second-color)
}

.footer-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--footer-text-color);
    max-width: 264px;
    margin-top: 16px;
}

.footer-social {
    margin-left: 120px;
}

.footer-social-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-social-item {
    width: 40px;
    height: 40px;
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--footer-link-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
    width: 24px;
    height: 24px;
}

.footer-social-link:is(:hover, :focus) {
    background-color: var(--footer-hover-color)
}

.footer-subscribe{padding-left: 80px;}
.footer-form{display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.footer-form-group .footer-form-input{background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--customers-link-color);
    border-radius: 4px;
    width: 264px;
    height: 40px;
    margin-top: 16px;
    padding: 8px 16px;
    outline: none;
    }
.footer-subscribe-title{font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);}
.footer-form-btn{display: block;
    justify-content: center;
    align-items: center;
    background: var(--buttons-color);
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    margin-left: 24px;
    margin-top: 16px;
    padding: 8px 24px;
    color: var(--secondary-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    border: none;
    }
.footer-form-btn:hover{background-color: var(--hover-color);}
.footer-form-icon{margin-left: 15px;}

.footer-form-input:focus{color: var(--footer-hover-color);
border-color: var(--footer-hover-color);}
    



/* Portfolio block */
.portfolio {
    padding: 120px 0;
}

.portfolio-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.portfolio-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.portfolio-btn {
    font-size: 16px;
    line-height: 1.5;
    ;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--buttons-color);
    background-color: var(--buttons-second-color);
    border: 1px solid var(--footer-text-color);
    border-radius: 4px;
    order: 1;
    flex-wrap: wrap;
    padding: 11px 24px;
    cursor: pointer;
    font-weight: 500;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--secondary-color);
    background-color: var(--hover-color);
}

.portfolio-list {
    display: flex;
    justify-content: space-between;
    gap: 48px 24px;
    flex-wrap: wrap;
    padding-top: 72px;
}

.portfolio-item {
    box-sizing: border-box;
    background: var(--secondary-color);
    border: 1px solid var(--footer-text-color);
    flex-basis: calc((100% - 48px)/3);
}

.portfolio-item:hover .portfolio-text-overlay {
    transform: translateY(0);
}


.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-color);
    padding-bottom: 8px;
}

.portfolio-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--contacts-color);
}

.portfolio-card-description {
    padding: 32px 16px;
}

.portfolio-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-text-overlay {
    color: var(--buttons-second-color);
    background-color: var(--buttons-color);
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}


/* Modal */
.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    position: fixed;
    top: 0;
    left: 0;
}

.modal {
    max-width: 408px;
    width: 100%;
    min-height: 576px;
    background-color: var(--modal-color);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    display: block;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--footer-text-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: backround 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: currentColor;
}
.modal-btn:is(:hover, :focus){
    background-color: var(--hover-color);
    color: var(--secondary-color);}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.2);}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-color);
    margin-top: 24px;
    margin-bottom: 16px;}


.form-group {
    margin-bottom: 8px;}
.form-input {
    width: 100%;
    border: 1px solid rgba(33, 33, 33, 0.2);;
    border-radius: 4px;
    height: 40px;
    padding: 11px 16px;
    padding-left: 38px;}

.form-input:focus{outline: none;;
    border-color: var(--buttons-color)}
.form-input:focus + .form-icon{fill: var(--buttons-color)}

.form-label {
    color: var(--customers-link-color);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
}

.form-control {
    position: relative;
    display: block;
}

.form-denotation{display: block;
margin-bottom: 4px;}
.form-icon {
    position: absolute;
    top: 14px;
    left: 16px;}

.form-textarea{
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 8px 16px;
    resize: none;}
.form-textarea:focus {
    outline: none;
    border-color: var(--buttons-color)}

.form-checkbox{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}

.form-label-checkbox::before{content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 1.25px solid var(--main-color);
    border-radius: 2px;
    margin-right: 8px;}

.form-label-checkbox{display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--checkbox-form-color);
    display: flex;
    align-items: center;
    margin-top: 16px;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1) border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.form-checkbox:checked + .form-label-checkbox::before{background-color: var(--hover-color);
    border: 1.25px solid var(--hover-color);
    background-image: url(../images/agreement.svg);
    background-size: 1px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.form-btn{display: block;
    flex-direction: row;
    align-items: flex-start;
    min-width: 169px;
    height: 56px;
    background-color: var(--buttons-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: auto;
    border: none;
    color: var(--secondary-color);
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 24px;}

.form-btn:hover{background-color: var(--hover-color);}

.form-text-policy{font-weight: 400;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    color: var(--buttons-color);
    padding-left: 5px;}
.form-text-policy:is(:hover, :focus){color: var(--hover-color);}



/* ÐœEDIA */
@media screen and (min-width: 480px) {
    .container { 
    max-width: 428px; } 
    }

@media screen and (min-width: 768px) { 
    .container { max-width: 768px; } 
    .team-container{ max-width: 584px;}
    .team-list{column-gap: 24px;
    row-gap: 64px;}
    .team-item { flex-basis: calc((100% - 24px) / 2)}
    } 

@media screen and (min-width: 1200px) {
    .container { max-width: 1158px; } 
    .team-container{}
    .team {padding: 120px 0;}

.team-list {gap: 24px;}

.team-item {
    background: var(--secondary-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
}